body {
  margin: 0;
  box-sizing: border-box;
  background-color: #F5F5F5;
}

.page {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: minmax(min-content, max-content) auto;
  display: grid;
  height: 100vh;
}

.header {
  padding: 2rem;
  background-color: #C3C3E6;
  grid-column: 1 / 3;
}

.form {
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  width: 30rem;
}

.input {
  flex: 0 0 70%;
  box-shadow: 1px 1px 1px darkgrey;
  border: none;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  height: 2rem;
}

.button {
  flex: 0 0 20%;
  box-shadow: 1px 1px 1px darkgrey;
  border: none;
  border-radius: 5px;
  background-color: #87255B;
  cursor: pointer;
  font-weight: bold;
  color: white;
  transition-property: transform, box-shadow;
  transition-duration: 0.2s;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 2px darkgrey;
}

.video-display {
  position: relative;
}

.video-list {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  overflow-y: scroll;
  padding: 2rem;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 22.5rem;
}

.thumbnail {
  display: block;
  margin: 1rem auto;
  width: 20rem;
  height: 11.25rem;
  background-color: black;
}
